<header class="page-header">
<h1> About Us </h1>
</header>

<p> honestly there's not much to say here, we sell bushes and stuff. Not many people actually care to check the about us page, nice to see you here! </p>